<h1>TracksOnRails Home</h1>
<% #= logout_path %><br />
<% #= logout_url %>
<hr/>

<p>
  <% if logged_in? %>
    You are logged in.
    <%= link_to "Log out", logout_path %>
  <% else %>
    You are not logged in.
    <%= link_to "Log in", login_path %>
  <% end %>
</p>