<div id="nav">
  <% #= render :partial => 'layouts/timeclock' %>     
  <% #= render :partial => 'layouts/user_ident'%>
  <%= link_to "Home", {:controller=>"site", :action=>"index"}, :class=>'navlink' %>
  <%= link_to "Clients", clients_path, :class=>'navlink' %>
  <%= link_to "Projects", projects_path, :class=>'navlink' %>
  <%= link_to "Users", users_path, :class=>'navlink' %>
</div>