<div id="statusbar">
  <span style='float: right;'><b>Code Revision </b><%= SVN_VERSION %> </span>
  <b>Ecliptic Project Database</b>  
  &nbsp;&#8212;&nbsp;
  <b>Environment:</b> <%= ENV['RAILS_ENV'].titleize %>
</div>
